<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peer Hub</title>
    <link rel="icon" href="assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/discussion.css" />
    <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  </head>
  <body>
 
    
    <h1 style="color: aliceblue; font-size: 5rem;"><em>JavaScript</em></h1>
  
  <div class="row">
    <div class="col-lg-6"></div>
  <div class="col-lg-6">
    <nav class="nav-menu d-none d-lg-block position: fixed;">
      <ul>
          <li class=" pl-5"><a href="/">Home</a></li>
          <li class="pl-5"><a href="/profile">Profile</a></li>
      </ul>
  </nav><!-- .nav-menu -->
</div>
    <section id="#post" style="margin-top: 5rem;">
      <div id="newPost">
      <form action="/compose" method="post">
        <div class="form-group">
          <label style="font-size: 3rem;">Ask a question</label>
          <textarea  id="post-new"
            name="postBody"
            class="form-control"
            cols="40"
            rows="5"
          ></textarea>
        <button type="submit" class="btn btn-primary" name="" id="discussion-btn">Post</button></div>
      </div>
      </form>
    </section>
    <section id="#existing-posts">
      <hr>
      <div class="row">
        <div class="col-lg-6">
        <div class="left">
        <h3 id="qAsker">Rahul</h3>
        <div id="q"><h4>What is meant by asynchronous programming?</h4></div>
        <p style=" color: #ffffff; padding-top: 2rem;">Reply</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <div class="right">
        <h3 id="qAsker">Anjali</h3>
        <div id="comment"><h4>Asynchronous programming is a means of parallel programming in which a unit of work runs separately from the main application thread and notifies the calling thread of its completion, failure or progress</h4></div>
        <h3 id="qAsker">John</h3>
        <div id="comment"><h4>Asynchrony, in computer programming, refers to the occurrence of events independent of the main program flow and ways to deal with such events.</h4></div>
      </div>
    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6">
      <div class="left">
      <h3 id="qAsker">Rimpi</h3>
      <div id="q"><h4>Can anyone help me in callback functions?</h4></div>
      <p style=" color: #ffffff;">Reply</p>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="right">
          <h3 id="qAsker">Pragya</h3>
          <div id="comment"><h4>Yeah,tell me.I can help :)</h4></div>
        </div>
      </div>
      </div>
    </div>
     
    </section>
    <!-- <%- include("partials/footer") -%> -->
  </body>
</html>
