<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT | THE UPLIFT PROJECT</title>
    <link rel="icon" href="assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/explore.css" />
    <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  </head>

  <body>
    <h2>Explore</h2>
    <div id="topics">
      <button type="button" class="btn btn-dark">
        <a href="/discussion"> JavaScript</a>
      </button>
      <button type="button" class="btn btn-dark">Python</button>
      <button type="button" class="btn btn-dark">Machine Learning</button>
      <button type="button" class="btn btn-dark">DSA</button>
      <button type="button" class="btn btn-dark">Public Speaking</button>
      <button type="button" class="btn btn-dark">Geography</button>
      <button type="button" class="btn btn-dark">Cyber Security</button>
      <button type="button" class="btn btn-dark">Physics</button>
    </div>
  </body>
</html>
