<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT | THE UPLIFT PROJECT</title>
    <link rel="icon" href="assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/jsdiscussion.css" />
    <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  </head>
  <body>
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
          <div
            class="
              d-flex
              flex-row
              align-items-center
              text-left
              comment-top
              p-2
              bg-white
              border-bottom
              px-4
            "
          >
            </div>
          </div>
          <div class="coment-bottom bg-white p-2 px-4">
            
            <div class="commented-section mt-2">
              <div class="d-flex flex-row align-items-center commented-user">
                <h5 class="mr-2">Corey oates</h5>
                <span class="dot mb-1"></span
                ><span class="mb-1 ml-2">4 hours ago</span>
              </div>
              <div class="comment-text-sm">
                <span
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</span
                >
              </div>
              <div class="reply-section">
                <div class="d-flex flex-row align-items-center voting-icons">
                  <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                  ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                  ><span class="ml-2">10</span><span class="dot ml-2"></span>
                  <h6 class="ml-2 mt-1">Reply</h6>
                </div>
              </div>
            </div>
            <div class="commented-section mt-2">
              <div class="d-flex flex-row align-items-center commented-user">
                <h5 class="mr-2">Samoya Johns</h5>
                <span class="dot mb-1"></span
                ><span class="mb-1 ml-2">5 hours ago</span>
              </div>
              <div class="comment-text-sm">
                <span
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua..</span
                >
              </div>
              <div class="reply-section">
                <div class="d-flex flex-row align-items-center voting-icons">
                  <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                  ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                  ><span class="ml-2">15</span><span class="dot ml-2"></span>
                  <h6 class="ml-2 mt-1">Reply</h6>
                </div>
              </div>
            </div>
            <div class="commented-section mt-2">
              <div class="d-flex flex-row align-items-center commented-user">
                <h5 class="mr-2">Makhaya andrew</h5>
                <span class="dot mb-1"></span
                ><span class="mb-1 ml-2">10 hours ago</span>
              </div>
              <div class="comment-text-sm">
                <span
                  >Nunc sed id semper risus in hendrerit gravida rutrum. Non
                  odio euismod lacinia at quis risus sed. Commodo ullamcorper a
                  lacus vestibulum sed arcu non odio euismod. Enim facilisis
                  gravida neque convallis a. In mollis nunc sed id. Adipiscing
                  elit pellentesque habitant morbi tristique senectus et netus.
                  Ultrices mi tempus imperdiet nulla malesuada
                  pellentesque.</span
                >
              </div>
              <div class="reply-section">
                <div class="d-flex flex-row align-items-center voting-icons">
                  <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                  ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                  ><span class="ml-2">25</span><span class="dot ml-2"></span>
                  <h6 class="ml-2 mt-1">Reply</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
