<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peer Hub</title>
    <link rel="icon" href="assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/profile.css" />
    <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  </head>
  <body>
    <div>
        <div class="row">
            <div class="col-lg-6"></div>
          <div class="col-lg-6">
      <nav class="nav-menu d-none d-lg-block position: fixed;">
        <ul>
          <li class="pl-5"><a href="/">Home</a></li>
          <!-- <li class="pl-5"><a href="team.html"></a></li> -->
        </ul>
      </nav>
      </div>
      <!-- .nav-menu -->
      <section id="hero2" class="d-flex align-items-center">
        <div class="container mb-5">
          <div class="row my-auto">
           
            <div class="col-lg-6 "
                    data-aos="fade-up" data-aos-delay="200">
                    <h1>
                        <span class="about2-title">My Groups</span>
                      </h1>
                    <ul class="fa-ul my-auto">
                        <li class="mb-4">
                            <span class="fa-li mr-5"><i class="fas fa-check-circle"></i></span><span class="ml-3">JavaScript</span>
                        </li>
                        <li class="mb-4">
                            <span class="fa-li mr-5"><i class="fas fa-check-circle"></i></span><span class="ml-3">NIT Silchar</span>
                        </li>
                        
                    </ul>
                   
                </div>
                <div class="col-lg-6 ">
              <h1>
                <span class="about2-title">My Activity</span>
              </h1>
              <ul class="fa-ul my-auto">
                <li class="mb-4">
                  <span class="fa-li mr-5"
                    ><i class="fas fa-check-circle"></i></span
                  ><span class="ml-3">Started following JavaScript</span>
                </li>
                <li class="mb-4">
                  <span class="fa-li mr-5"
                    ><i class="fas fa-check-circle"></i></span
                  ><span class="ml-3">Visited JavaScript.</span>
                </li>

                <li class="mb-4">
                  <span class="fa-li mr-5"
                    ><i class="fas fa-check-circle"></i></span
                  ><span class="ml-3"
                    >Uploaded notes in NIT Silchar
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- <%- include("partials/footer") -%> -->
  </body>
</html>
